<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>報告產生器</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-switch/bootstrap-switch.min.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-switch/bootstrap-switch.min.js"></script>
    <style type="text/css">
        .list-group-item {
            overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="text-center text-success">
                報告產生器
            </h1>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info" style="text-align: center;">建立報告</li>
                        <li class="list-group-item" style="min-height: 440px">
                            <div class="col-md-12 column">
                                <form role="form" action="/reporter/createReport" method="post">
                                    <div class="form-group">
                                        <h3 class="text-info text-left"><label for="userName">測試人員</label></h3>
                                        <input id="userName" type="text" name="userName" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <h3 class="text-info text-left"><label for="reporterTitle">報告標題</label></h3>
                                        <input id="reporterTitle" type="text" name="reporterTitle" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <h3 class="text-info text-left"><label for="reportList">測試項目</label></h3>
                                        <textarea class="form-control" id="reportList" name="reportList" cols="48"
                                                  rows="5"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-info">送出</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 column">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" style="text-align: center;">搜尋報告</li>
                        <li class="list-group-item" style="min-height: 170px">
                            <div class="col-md-12 column">
                                <div class="form-group">
                                    <h3 class="text-info text-left"><label for="reporterId">測試人員名稱</label></h3>
                                    <input id="reportUserName" type="text" class="form-control">
                                </div>
                                <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal">送出</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">搜尋結果-<span></span></h4>
                </div>
                <div class="modal-body">
                    <span>loading...</span>
                    <ul class="list-group">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.list-group').on('click', '.reportItem', function() {
            var $this = $(this);
            var reporterId = $this.attr('id').trim();
            if (reporterId.length > 0) {
                window.location.href = '/reporter/report/' + reporterId;
            }
        });

        $('#myModal').on('show.bs.modal', function () {
            var $modalTitle = $("#myModalLabel");
            var $modalBody = $(".modal-body");
            var $showMsg = $modalBody.find("span");
            var $listGroup = $modalBody.find(".list-group");
            $listGroup.find('.list-group-item').remove();
            $showMsg.show();
            var reportUserName = $('#reportUserName').val();
            $modalTitle.find('span').text(reportUserName);
            var data = {
                userName: encodeURIComponent(reportUserName)
            };
            $.ajax({
            url: 'reporter/findReport',
            data: data,
            type: 'GET',
            dataType: "json",
            success: function (rs) {
                    if (rs.length > 0) {
                        $showMsg.hide();
                        function compare(a,b) {
                            if (a.createDate < b.createDate) {
                                return 1;

                            } else if (a.createDate > b.createDate) {
                                return -1;

                            } else {
                                return 0;
                            }
                        }
                        rs.sort(compare);
                        $.each(rs, function(idx, val){
                            var createDate = new Date(val.createDate);
                            var showDate = createDate.getFullYear() + '-' + (createDate.getMonth() + 1) + '-' + createDate.getDate();
                            var $span = $('<span/>').addClass("badge").text(showDate);
                            var $listItem = $('<a/>').addClass("list-group-item reportItem").text(val.title).append($span);
                            $listItem.attr({
                                title: val.title,
                                id: val.id,
                                href: '#'
                                });
                            $listGroup.append($listItem);
                        })
                    } else {
                        $showMsg.text('找不到報告！');
                    }
                }
            });
        })
    });
</script>
</body>
</html>