<!DOCTYPE html>
<html>
<head>
    <title><%=reporter.reporterTitle%></title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <%
        var userName = reporter.userName;
        for (var i = 0; i < reporter.reportItems.length; i++) {
            var reportItem = reporter.reportItems[i];
            var images = reportItem.realityResultImages;
            var number = ("00" + (i + 1)).slice(-3);
            var title = number + ' ' + reportItem.title;
            var resultStr = reportItem.result ? '通過' : '未通過';
            var date = new Date(reportItem.testDate);
            var showDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
    %>
        <h1>
            <span style="font-size:20.0pt;line-height:300%;"><%=title%></span>
        </h1>
        <table>
            <tr>
                <td width="83">
                    <span style="font-size:10.0pt;font-weight: bold;;">測試編號</span>
                </td>
                <td width="47">
                    <span style="font-size:10.0pt;"><%=number%></span>
                </td>
                <td width="85">
                    <span style="font-size:10.0pt;font-weight: bold;">標　　題</span>
                </td>
                <td width="822" colspan="3">
                    <span style="font-size:10.0pt;"><%=reportItem.title%></span>
                </td>
            </tr>
            <tr>
                <td width="83">
                    <span style="font-size:10.0pt;font-weight: bold;">測試結果</span>
                </td>
                <td width="47">
                    <span style="font-size:10.0pt;font-weight: bold;"><%=resultStr%></span>
                </td>
                <td width="85">
                    <span style="font-size:10.0pt;font-weight: bold;">測試人員</span>
                </td>
                <td width="237">
                    <span style="font-size:10.0pt;"><%=userName%></span>
                </td>
                <td width="94">
                    <span style="font-size:10.0pt;font-weight: bold;">測試時間</span>
                </td>
                <td width="491">
                    <span style="font-size:10.0pt;"><%=showDate%></span>
                </td>
            </tr>
            <tr>
                <td width="83">
                    <span style="font-size:10.0pt;font-weight: bold;">測試步驟</span>
                </td>
                <td width="945" colspan="5">
                    <%var testStepStr = reportItem.testStep.replace(/\n/g, "<br />");%>
                    <span style="font-size:10.0pt;"><%-testStepStr-%></span>
                </td>
            </tr>
            <tr>
                <td width="83">
                    <span style="font-size:10.0pt;font-weight: bold;">預期結果</span>
                </td>
                <td width="954" colspan="5">
                    <%var expectedResultStr = reportItem.expectedResult.replace(/\n/g, "<br />");%>
                    <span style="font-size:10.0pt;"><%-expectedResultStr-%></span>
                </td>
            </tr>
            <tr>
                <td width="1037" colspan="6">
                    <span style="font-size:10.0pt;font-weight: bold;">實際結果：</span>
                    <br />
                    <%var realityResultTextStr = reportItem.realityResultText.replace(/\n/g, "<br />");%>
                    <span style="font-size:10.0pt;"><%-realityResultTextStr-%></span>
                    <br/>
                    <br />
                    <%
                        for (var j = 0; j < images.length; j++) {
                            var image = images[j];
                            var fileName = image.id + '.' + image.extension;
                    %>
                        <span style="font-size:10.0pt;">
                            <span style="font-size:10.0pt;"><%=image.comment%></span>
                            <br />
                            <img src="/upload/<%=fileName%>"/>
                        </span>
                        <% if (j != images.length - 1) { %>
                            <br />
                        <% } %>
                    <% } %>
                </td>
            </tr>
        </table>
    <% } %>

</div>
<style type="text/css">
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }

    table tr td {
        border: 1px solid black;
    }

    body {
        font-family: 標楷體;
    }

    img {
        max-width: 1024px;
    }
</style>
</body>
</html>