<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>報告產生器</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-switch/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/stylesheets/datetimepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/stylesheets/PNotify/pnotify.custom.min.css">
    <link rel="stylesheet" href="/stylesheets/sweetalert/sweetalert.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/moment/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script src="/javascripts/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/javascripts/PNotify/pnotify.custom.min.js"></script>
    <script src="/javascripts/autosize/autosize.min.js"></script>
    <script src="/javascripts/sweetalert/sweetalert.min.js"></script>
    <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:void(0);" id="userName"></a>
                </div>
                <button type="button" class="btn btn-success navbar-btn" id="viewReport">檢視報告</button>
                <button type="button" class="btn btn-primary navbar-btn" id="saveAllBtn">儲存報告</button>
                <button type="button" class="btn btn-primary navbar-btn" id="addNewItem">新增項目</button>
            </nav>
        </div>
    </div>
    <div class="col-md-10 column" style="padding-bottom: 40px">
        <h3 class="text-left text-info" id="reportTitle"></h3>
        <div class="panel-group" id="accordion"></div>
    </div>
    <!-- Modal Template-->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" id="imagepreview" class="img-responsive" style="margin: auto;">
                </div>
            </div>
        </div>
    </div>
    <!-- upload image Template-->
    <div class="list-group-item imageTemp" style="display: none;">
        <div class="media col-md-3">
            <a href="javascript: void(0);">
                <img src="" height="80" width="115" class="img-rounded">
            </a>
        </div>
        <div class="aboutImg col-md-8">
            <label>圖片說明:</label>
            <input type="text" size="20" class="form-control"/>
        </div>
        <div class="remove col-md-1">
            <span class="glyphicon glyphicon-remove" onclick="removeImage(this);"></span>
        </div>
    </div>
    <!-- Item Template-->
    <div class="panel panel-danger itemTemp" style="display: none;">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 8px;">
                <span class="drag-handle">☰</span>
                <a class="onHover itemTitle" data-toggle="collapse" data-parent="#accordion"></a>
            </h4>
            <div class="pull-right removeItem">
                <span class="glyphicon glyphicon-remove" onclick="removeItem(this);"></span>
            </div>
            <div class="pull-right">
                <input type="checkbox" name="my-checkbox" class="result">
            </div>
        </div>
        <div class="panel-collapse collapse">
            <div class="panel-body">
                <label class="testStepLabel">測試步驟:</label>
                <textarea class="form-control testStep"></textarea>
                <br/>
                <label class="expectedResultLabel">預期結果:</label>
                <textarea class="form-control expectedResult"></textarea>
                <br/>
                <label class="testDateLabel">測試時間:</label>
                <input type='text' class="form-control testDate" />
                <br/>
                <label class="realityResultTextLabel">實際結果:</label>
                <textarea class="form-control realityResultText"></textarea>
                <br/>
                <div class="list-group imageArea"></div>
                <br/>
                <label>圖檔上傳:</label>
                <div class="uploadDropZone">
                    將圖片拖曳至此...
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var changeItems = [];
    var reporterId = '';

    function onChangeHandler(itemId) {
        if ($.inArray(itemId, changeItems) == -1) {
            changeItems.push(itemId);
        }
    }

    function removeItem(removeBtn) {
        var itemId = $(removeBtn).closest('.panel').attr('id');
        var $removeTarget = $('#' + itemId);
        swal({
                title: "確認是否刪除該項目?",
                text: "在您儲存前資料並不會真正刪除",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#FF0000",
                confirmButtonText: "刪除",
                cancelButtonText: "取消",
                closeOnConfirm: true,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    onChangeHandler(itemId);
                    $removeTarget.fadeOut({
                        duration: 'slow',
                        complete: function () {
                            $removeTarget.remove();
                        }
                    });
                }
            }
        );
    }

    function addItem(itemTitle) {
        $.ajax({
            url: 'addReportItem',
            data: 'reporterId=' + reporterId + '&itemTitle=' + itemTitle,
            type: 'POST',
            dataType: "json",
            error: function () {
                new PNotify({
                    title: '我錯了嗎！',
                    text: '新增項目失敗',
                    type: 'error'
                });
            },
            success: function (newItem) {
                addNewItemPanel(newItem);
                initPlugin();
                new PNotify({
                    text: '新增項目成功',
                    type: 'success'
                });
            }
        });
    }

    function removeImage(removeBtn) {
        var imageId = $(removeBtn).closest('.list-group-item').attr('id');
        var itemId = $(removeBtn).closest('.list-group').attr('id').replace('imageList', '');
        $.ajax({
            url: 'removeImage',
            data: 'itemId=' + itemId + '&imageId=' + imageId,
            type: 'DELETE',
            error: function () {
                new PNotify({
                    title: '我錯了嗎！',
                    text: '圖片移除失敗',
                    type: 'error'
                });
            },
            success: function () {
                var $img = $('#' + imageId);
                $img.fadeOut().remove();
                new PNotify({
                    text: '圖片刪除成功',
                    type: 'success'
                });
            }
        });
    }

    function imagePreView(scr) {
        $('#imagepreview').attr('src', scr);
        $('#imagemodal').modal('show');
    }

    function startUpload(files, itemId) {
        var ajaxData = new FormData();
        $.each(files, function (idx, itm) {
            if (itm.type.match('image/*')) {
                ajaxData.append('image[' + idx + ']', itm);
            }
        });
        $.ajax({
            url: 'upload/' + itemId,
            data: ajaxData,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            dataType: "json",
            success: function (item) {
                addUploadImage(item._id, item.realityResultImages);
            }
        });
    }

    function addUploadImage(targetItemId, realityResultImages) {
        var $imgList = $('#imageList' + targetItemId);
        $.each(realityResultImages, function (idx, itm) {
            var $imgTemp = $('.imageTemp').clone();
            var fileName = itm._id + '.' + itm.extension;
            $imgTemp.find('a').attr('onclick', "imagePreView('/upload/" + fileName + "')");
            $imgTemp.find('img').attr('src', "/upload/" + fileName);
            $imgTemp.find('.aboutImg label').attr('for', 'about' + itm._id);
            $imgTemp.find('.aboutImg input').attr('id', 'about' + itm._id).attr('name', itm._id).val(itm.comment);
            $imgTemp.attr('id', itm._id).attr('filename', itm.fileName).attr('extension', itm.extension);
            $imgTemp.removeClass('imageTemp');
            $imgTemp.appendTo('#imageList' + targetItemId);
        });
        $imgList.find('.list-group-item').show();
    }

    function addNewItemPanel(reportItem) {
        var itemId = reportItem._id;
        var $accordion = $('#accordion');
        var $itemTemp = $('.itemTemp').clone();
        $itemTemp.attr('id', itemId);
        $itemTemp.find('.itemTitle').attr('href', '#list' + itemId).text(reportItem.title);
        $itemTemp.find('.result').prop("checked", reportItem.result);
        $itemTemp.find('.panel-collapse').attr('id', 'list' + itemId);
        //測試步驟
        $itemTemp.find('.testStepLabel').attr('for', 'testStep' + itemId);
        var countRows = reportItem.testStep.split(/\r\n|\r|\n/).length;
        $itemTemp.find('.testStep').attr('id', 'testStep' + itemId).attr('rows', countRows).val(reportItem.testStep);
        //預期結果
        $itemTemp.find('.expectedResultLabel').attr('for', 'expectedResult' + itemId);
        countRows = reportItem.expectedResult.split(/\r\n|\r|\n/).length;
        $itemTemp.find('.expectedResult').attr('id', 'expectedResult' + itemId).attr('rows', countRows).val(reportItem.expectedResult);
        //測試時間
        $itemTemp.find('.testDateLabel').attr('for', 'testDate' + itemId);
        var date = new Date(reportItem.testDate);
        var showDate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
        $itemTemp.find('.testDate').attr('id', 'testDate' + itemId).val(showDate);
        //實際結果
        $itemTemp.find('.realityResultTextLabel').attr('for', 'realityResultText' + itemId);
        countRows = reportItem.realityResultText.split(/\r\n|\r|\n/).length;
        if (countRows < 5) countRows = 5;
        $itemTemp.find('.realityResultText').attr('id', 'realityResultText' + itemId).attr('rows', countRows).val(reportItem.realityResultText);
        //上傳圖片
        $itemTemp.find('.imageArea').attr('id', 'imageList' + itemId);
        //上傳圖片區
        $itemTemp.find('.uploadDropZone').attr('id', 'dropZone' + itemId);
        $itemTemp.appendTo('#accordion');
        addUploadImage(itemId, reportItem.realityResultImages);
        $accordion.find('.panel').removeClass('itemTemp').show();
    }

    function getItemObject(itemId) {
        var testStep = $('#testStep' + itemId).val();
        var expectedResult = $('#expectedResult' + itemId).val();
        var testDate = $('#testDate' + itemId).val();
        var realityResultText = $('#realityResultText' + itemId).val();
        var realityResultImages = [];

        $('#imageList' + itemId).find('.list-group-item').each(function (idx, elm) {
            var $this = $(this);
            var fileName = $this.attr('filename');
            var id = $this.attr('id');
            var extension = $this.attr('extension');
            var comment = $('#about' + id).val();
            realityResultImages.push({
                _id: id,
                fileName: fileName,
                extension: extension,
                comment: comment
            });
        });

        return {
            _id: itemId,
            testStep: testStep,
            expectedResult: expectedResult,
            testDate: new Date(testDate),
            realityResultText: realityResultText,
            realityResultImages: realityResultImages
        };
    }

    function saveAllItems(successHandler, errorHandler) {
        var itemIds = [];
        var itemObjectArr = [];
        $('.panel').each(function () {
            var id = $(this).attr('id');
            if (id !== undefined) {
                itemIds.push($(this).attr('id'));
            }
        });
        $.each(itemIds, function (idx, itemId) {
            itemObjectArr.push(getItemObject(itemId));
        });
        $.ajax({
            url: 'updateReportItems/' + reporterId,
            data: 'itemArray=' + encodeURIComponent(JSON.stringify(itemObjectArr)),
            type: 'PUT',
            error: function () {
                errorHandler();
            },
            success: function () {
                changeItems.length = 0;
                successHandler();
            }
        });
    }

    function goViewReport() {
        window.location.href = '/reportView/' + reporterId;
    }

    function initPlugin() {
        //bootstrapSwitch
        $('.result', '#accordion').bootstrapSwitch({
            onText: 'Pass',
            offText: 'Fail',
            offColor: 'danger',
            onColor: 'success',
            labelText: '測試結果',
            onSwitchChange: function (event, state) {
                var $this = $(event.currentTarget);
                var itemId = $this.closest('.panel').attr('id');
                $.ajax({
                    url: 'updateReportItemResult',
                    data: 'itemId=' + itemId + '&state=' + state,
                    type: 'PUT',
                    error: function () {
                        new PNotify({
                            text: '狀態變更失敗',
                            type: 'error'
                        });
                    },
                    success: function () {
                        if (state) {
                            $this.closest('.panel').removeClass('panel-danger').addClass('panel-success');
                        } else {
                            $this.closest('.panel').removeClass('panel-success').addClass('panel-danger');
                        }
                    }
                });
            }
        });

        //datetimepicker
        $('.testDate', '#accordion').datetimepicker({
            format: 'YYYY-MM-D',
            locale: 'zh-tw'
        }).on('dp.change', function () {
            onChangeHandler($(this).closest('.panel').attr('id'));
        });

        //sort list
        $('.list-group', '#accordion').each(function () {
            Sortable.create(this, {
                onUpdate: function (e) {
                    onChangeHandler($(e.item).closest('.panel').attr('id'));
                }
            });
        });

        $('#accordion').each(function () {
            Sortable.create(this, {
                handle: '.drag-handle',
                animation: 150,
                onUpdate: function (e) {
                    onChangeHandler($(e.item).attr('id'));
                }
            });
        });

        //autosize
        autosize($('textarea'));

        //panel color
        $('.result:checked').closest('.panel').removeClass('panel-danger').addClass('panel-success');
    }

    function initReporter() {
        var url = window.location.href;
        reporterId = url.substring(url.lastIndexOf('/') + 1, url.length);
        $.ajax({
            url: '/reporter/' + reporterId,
            type: 'GET',
            dataType: "json",
            cache: false,
            error: function () {
                swal("找不到報告！", "", "error");
            },
            success: function (reporter) {
                $('#reportTitle').text(reporter.reporterTitle);
                $('#userName').text(reporter.userName);
                $.each(reporter.reportItems, function () {
                    addNewItemPanel(this);
                });
                initPlugin();
            }
        });
    }

    $(document).ready(function () {

        initReporter();

        $('.container').on('change', 'input, textarea', function () {
            onChangeHandler($(this).closest('.panel').attr('id'));
        }).on('dragover', '.uploadDropZone', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).addClass('drop');
            return false;
        }).on('dragleave', '.uploadDropZone', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).removeClass('drop');
            return false;
        }).on('drop', '.uploadDropZone', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).removeClass('drop');
            var id = $(this).attr('id').replace('dropZone', '');
            startUpload(event.originalEvent.dataTransfer.files, id);
        });

        $('#addNewItem').click(function () {
            swal({
                title: "新增項目",
                text: "新增項目名稱:",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: true,
                animation: "slide-from-top",
                inputPlaceholder: "Write something"
            }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue === "") {
                    swal.showInputError("填點什麼好嗎？");
                    return false
                }
                addItem(inputValue);
            });
        });

        $('#saveAllBtn').click(function () {
            saveAllItems(function () {
                new PNotify({
                    text: '儲存成功',
                    type: 'success'
                });
            }, function () {
                new PNotify({
                    text: '儲存失敗',
                    type: 'error'
                });
            });
        });

        $('#viewReport').click(function () {
            if (changeItems.length == 0) {
                goViewReport()
            } else {
                swal({
                    title: "是否幫您儲存?",
                    text: "尚有未儲存項目",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#419641",
                    confirmButtonText: "是, 幫我儲存!",
                    cancelButtonText: "不, 我放棄!",
                    closeOnConfirm: true,
                    closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            saveAllItems(function () {
                                goViewReport();
                            }, function () {
                                new PNotify({
                                    text: '全部儲存失敗',
                                    type: 'error'
                                });
                            });
                        } else {
                            goViewReport();
                        }
                    }
                );
            }
        });
    });
</script>
<style type="text/css">
    .removeItem:hover {
        opacity: 1;
    }

    .removeItem {
        padding-left: 15px;
        padding-top: 5px;
        color: red;
        opacity: 0;
        font-size: 20px;
        cursor: pointer;
    }

    .drag-handle {
        margin-right: 10px;
        color: #5F9EDF;
        display: inline-block;
        cursor: pointer;
    }

    .modal-dialog {
        width: 80%;
    }

    .remove {
        text-align: center;
        line-height: 80px;
        color: red;
        opacity: 0;
        font-size: 20px;
        cursor: pointer;
    }

    .list-group-item:hover .remove {
        opacity: 1;
    }

    .imageArea .list-group-item {
        height: auto;
        min-height: 100px;
    }

    .onHover:hover {
        text-decoration: none;
        font-weight: bold;
    }

    /* layout.css Style */
    .uploadDropZone {
        height: 200px;
        border-width: 2px;
        margin-bottom: 20px;
    }

    /* skin.css Style*/
    .uploadDropZone {
        color: #ccc;
        border: dashed #ccc;
        line-height: 200px;
        text-align: center
    }

    .uploadDropZone.drop {
        color: #222;
        border-color: #222;
    }
</style>
</body>
</html>